.background-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:antiquewhite;
  margin-top: 53px;
}

.job-edit-container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .job-edit-container {
    padding: 15px;
  }
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  width: 5%;
  margin-left: 10px;
  margin-top: 10px;
}

.back-button:hover {
  background-color: #0056b3;
}

.back-button svg {
  margin-right: 5px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 50px;
  font-family:fantasy;
}

.section {
  margin-bottom: 20px;
}

.label {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
  font-family:fantasy;
}

.input, .textarea, .select {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
  color: black;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color:aliceblue;
}


.save-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.2em;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s;
  border-radius: 50px;
}

.save-button:hover {
  background-color: #218838;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2em;
}

.success-message {
  color: green;
  text-align: center;
  font-size: 1.5em;
}