.forum-body {
  margin: 10px;
  align-items: end;
}

.forum-button {
  color: white;
  background-color: #0062a7;
  border-radius: 30px;
  width: 200px;
  
}

.row-submit {
  justify-content: center;
}

.post {
  text-align: center;
  flex-grow: 1;
}

.post-author {
  border: 1px solid #ccc;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 25%vw;
  height: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  padding: 0px;
}

.post-content {
  padding: 10px;
  text-wrap: pretty;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 100%;
  min-width: 75%vw;
}


.post p {
  text-align: left;
}
.post-card {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  /* border-radius: 30px; */
  /* box-shadow: bottom and right, 10px, gradient */
  box-shadow: 1px 1px 1px #ccc;
  background-color: #ffffff;
  text-align: left;
  transition: all 0.5s;
}

.post-card:hover {
  /* slight shift to the top left */
  box-shadow: 5px 1px 5px #aaa;
  transition: all 0.5s;

}

.post-card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card-title {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-card:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.toolbar {
  background-color: gray;
  display: flex;
  justify-content: center;
}

.submit {
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-author {
  float: left;
  text-decoration: none;
}