.help-center-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 9999; /* Đặt giá trị cao để đảm bảo button nằm trên cùng */
}

.help-center-button:hover {
    background-color: #0056b3;
}
