.div {
    background-color: #fff;
    padding-left: 20px;
  }
  @media (max-width: 991px) {
    .div {
      padding-left: 20px;
    }
  }
  .div-2 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 19%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-3 {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    font-size: 21px;
    color: #000;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .div-3 {
      margin-top: 40px;
    }
  }
  .div-4 {
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #999;
    text-decoration-line: underline;
    font: 30px Inria Sans, sans-serif;
  }
  .div-5 {
    border-radius: 150px;
    background-color: #d9d9d9;
    align-self: center;
    margin-top: 31px;
    width: 150px;
    height: 150px;
  }
  .div-6 {
    font-family: Inria Sans, sans-serif;
    align-self: center;
    margin-top: 19px;
  }
  .div-7 {
    font-family: Inria Sans, sans-serif;
    border-radius: 30px;
    background-color: rgba(99, 99, 99, 0.85);
    margin-top: 38px;
    align-items: start;
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    padding: 20px 32px;
  }
  @media (max-width: 991px) {
    .div-7 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-8 {
    align-self: start;
    display: flex;
    flex-direction: column;
    margin: 49px 0 0 32px;
  }
  @media (max-width: 991px) {
    .div-8 {
      margin: 40px 0 0 10px;
    }
  }
  .div-9 {
    font-family: Inria Sans, sans-serif;
  }
  .div-10 {
    font-family: Inria Sans, sans-serif;
    margin-top: 65px;
  }
  @media (max-width: 991px) {
    .div-10 {
      margin-top: 40px;
    }
  }
  .div-11 {
    font-family: Inria Sans, sans-serif;
    margin-top: 65px;
  }
  @media (max-width: 991px) {
    .div-11 {
      margin-top: 40px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 81%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-12 {
    border-radius: 100px 0px 0px 100px;
    background-color: #d9d9d9;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 38px 56px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-13 {
    align-self: center;
    display: flex;
    width: 914px;
    max-width: 100%;
    gap: 20px;
    color: #000;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .div-13 {
      flex-wrap: wrap;
    }
  }
  .div-14 {
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 40px Inria Sans, sans-serif;
  }
  .div-15 {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(24, 66, 17, 0.5);
    justify-content: center;
    padding: 14px 36px;
    font: 25px Inria Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      padding: 0 20px;
    }
  }
  .div-16 {
    align-self: center;
    margin-top: 48px;
    width: 944px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .div-16 {
      margin-top: 40px;
    }
  }
  .div-17 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-17 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-18 {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: #000;
    font-weight: 700;
    width: 100%;
    padding: 27px 80px 44px 22px;
  }
  @media (max-width: 991px) {
    .div-18 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-19 {
    margin-left: 20px;
    font: 30px Inria Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      margin-left: 10px;
    }
  }
  .div-20 {
    margin-top: 25px;
    font: 25px Inria Sans, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-21 {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: #000;
    font-weight: 700;
    width: 100%;
    padding: 27px 66px 43px 18px;
  }
  @media (max-width: 991px) {
    .div-21 {
      margin-top: 40px;
      padding-right: 20px;
    }
  }
  .div-22 {
    margin-left: 12px;
    font: 30px Inria Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-22 {
      margin-left: 10px;
    }
  }
  .div-23 {
    margin-top: 25px;
    font: 25px Inria Sans, sans-serif;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-24 {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: #000;
    font-weight: 700;
    width: 100%;
    padding: 28px 80px 49px 19px;
  }
  @media (max-width: 991px) {
    .div-24 {
      margin-top: 40px;
      padding-right: 20px;
    }
  }
  .div-25 {
    margin-left: 12px;
    font: 30px Inria Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .div-25 {
      margin-left: 10px;
    }
  }
  .div-26 {
    margin-top: 25px;
    font: 25px Inria Sans, sans-serif;
  }
  .div-27 {
    color: #000;
    margin-top: 51px;
    font: 700 30px Inria Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      margin: 40px 10px 0 0;
    }
  }
  .div-28 {
    border-radius: 30px;
    background-color: #fffdfd;
    margin-top: 25px;
    width: 992px;
    max-width: 100%;
    height: 244px;
  }
  @media (max-width: 991px) {
    .div-28 {
      margin-right: 10px;
    }
  }
  .div-29 {
    color: #000;
    align-self: start;
    margin: 49px 0 0 16px;
    font: 700 30px Inria Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-29 {
      margin: 40px 0 0 10px;
    }
  }
  .div-30 {
    border-radius: 30px;
    background-color: #fffdfd;
    margin-top: 34px;
    width: 992px;
    max-width: 100%;
    height: 245px;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-right: 10px;
    }
  }