.history {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */

  }

  .history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
  }

  .table-box{
    padding: 5px;
    margin: 5px;
  }

  .history-table{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */

  }