.price-bar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px gray solid;
    padding: 10px;
    margin: 20px 10px 20px 10px;
    font-size: 16px;
    border-radius: 50px;
    width: 150px;
}