.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */
  }
  
  .sidebar-back {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .back-link {
    text-decoration: none;
    color: gray;
    font-size: 18px;
  }
  
  .sidebar-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .username {
    font-size: 25px;
    font-weight: bold;
  }
  
  hr {
    width: 100%;
    border-top: 2px solid #000;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-item {
    padding-left: 50px !important;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px 10px 50px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #e9ecef;
  }
  
  .dashboard {
    background-color: gray;
    color: white;
    border-radius: 20px;
  }
  .selected{
    background-color: rgb(40, 40, 40);
    color: white;
    border-radius: 20px;  
  }