.container{
  margin-bottom: 20px;
}
.background-img{
  padding-top: 10px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  margin-right: 90%;
  margin-top: 15px;
}

.form{
  display: block; /* Hidden by default */
  background-color: ;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-bottom: 40px; 
  background-color:whitesmoke;
  padding-top: 20px;
}

.header1{
  font-weight: bolder;
  font-size: 50px;
}

.header2{
  width: 309px;
  color: var(--fg-6, #0062A7);
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
font-style: normal;
font-weight: 200;
line-height: normal;

padding-block: 20px;
}


label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.customIteration{
  width: 500px;
  margin-left: 8px;
}

input, select, textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: aliceblue;
  color: black;
  
}
.description{
  width: 980px;
  height: 500px;
  margin-left: 8px;
  border-radius: 10px;
}
.circle-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 95%;
}



.enlistbutton {
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  margin-top: 50px;
}

