.navbar{
    padding: 0px;
}

.nav-link:hover {
    color: #007bff; /* You can change this to your desired color */
}

/* Make the active link bold */
.nav-link.active {
    font-weight: bold;
    color: #4f75ff; /* You can set this to the color you prefer for the active link */
}
