/* src/index.css */
body {
    font-family: Arial, sans-serif;
  }
  
  input {
    padding: 10px;
    /* margin-bottom: 20px; */
    width: 300px;
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    /* background: #f0f0f0; */
    margin-bottom: 10px;
    border-radius: 4px;
  }
  